@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&display=swap%27');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color-celeste: #3CDDF3;
    --primary-color-violeta: #8B48BF;
    --gris-oscuro: #1E1E26;
    --secondary-color-gris: #B3B2B7;
    --secondary-color-azul: #232851;
    --variante-color: rgb(249, 249, 249);
}

html {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
}

body {
    flex-direction: column;
    height: 3550px;
    margin: 0;
    min-width: 480px;
    width: 100%;    
}

.hidden {
    display:none;
}

.flex {
    display: flex;    
}

header {
    justify-content: space-between;
    margin: 55px 35px 0 35px;   
}

#section-diagrama {
    flex-direction: column-reverse;
}

#section-diagrama img{
    margin: 20px 0 220px 0;
    width: 100%;
}

#section-diagrama article {
    align-items: center;
    flex-direction: column; 
    margin-bottom: 120px;
    text-align: center;
}

h1 {
    color: var(--secondary-color-azul);
    font-size: 58px;
    letter-spacing: -0.035em;
    margin: 0 10px;
}

#section-diagrama p {
    font-size: 16.56px;
    margin: 15px 60px 20px;
}

.btn {
    background-color: var(--primary-color-violeta);
    border: none;
    border-radius: 50px;
    color: #fff;
    height: 44px;
    width: 134px;
}

#section-middle article h2 {
    color: var(--secondary-color-azul);
    font-size: 36px;
    margin: 40px;
    text-align: center;
}

#section-middle article >p {
    align-self: stretch;
    line-height: 151.1%;
    margin: 0 10px 105px 10px;
    text-align: center;
}

ol {
    margin: 0 0 120px 30px;
}

ol li {
    list-style-type: none;
    counter-increment: lista;
    position: relative;
}

ol li::before {
    align-items: center;
    background-color: var(--primary-color-violeta);
    border-radius: 30px;
    color: #fff;
    content: counter(lista, decimal-leading-zero) " ";
    display: flex;
    justify-content: center;
    height: 43px;
    position: absolute;
    text-align: center;
    width: 69px;
}

ol div {
    align-items: center;
    background-color: rgba(139, 72, 191, 0.3);
    color: var(--secondary-color-azul);
    height: 43px;
    margin-left: 50px;
    width: 86%;
}

ol div h3 {
    margin: 0 0 0 30px;
}

ol p {
    color: var(--secondary-color-gris);
    letter-spacing: -1%;
    margin: 25px 25px 20px 10px;
    text-align: left;
}

#section-cards {
    align-items: center;
    flex-direction: column;
}

#section-cards h2 {
    font-size: 39.2143px;
    letter-spacing: -0.01em;
    margin-bottom: 100px;
}

.card {
    background-color: #FAFAFA;
    position: relative;
    height: 219px;
    margin: 50px 0 44px 0;
    width: 445px;
}

h3 {
    margin: 30px 0 15px 0;
}

.card p {
    color: #B9B9C1;
}

#card-ali {
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#card-ali img {
    position: absolute;
    top: -50px;
    width: 20%;
}

#card-ali p {
    margin: 0 40px;
    text-align: center;
}

#section-purple {
    align-items: center;
    background-color: var(--primary-color-violeta);
    color: #fff;
    flex-direction: column;
    height: 318px;
    justify-content: center;
    margin-top: 80px;
    text-align: center;
    width: 100%;
}

#section-purple h2 {
    font-size: 40px;
    letter-spacing: -0.005em;
    margin: 0 70px 30px 70px;
}

#get-started-down {
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    color: var(--primary-color-violeta);
}

footer {
    align-items: center;
    background-color: var(--gris-oscuro);
    flex-direction: column;
    justify-content: space-around;
    height: 535.89px;
    width: 100%;
}

footer ul {
    color: #fff;
    justify-content: space-between;
    list-style: none;
    margin: 0 70px;
}

footer ul li {
    margin-top: 15px;
}

footer input {
    border-radius: 50px;
    height: 44px;
    width: 308px;
}

input::placeholder {
    padding-left: 10px;
}

#go {
    background-color: var(--primary-color-violeta);
    border: none;
    border-radius: 50px;
    color: #fff;
    height: 42px;
    width: 63px;
}

#redes-sociales {
    width: 110%;
} 

footer p {
    color: #8C8C94;
    font-size: 12.5px;
}


