@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&display=swap%27');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color-celeste: #3CDDF3;
    --primary-color-violeta: #8B48BF;
    --gris-oscuro: #1E1E26;
    --secondary-color-gris: #B3B2B7;
    --secondary-color-azul: #232851;
    --variante-color: rgb(249, 249, 249);
}

html {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
}

body {
    flex-direction: column;
    height: 100%;
    margin: 0;
    min-width: 480px;
    width: 100%; 
}

.hidden {
    display: none;
    visibility: hidden;
}

.flex {
    display: flex;    
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 55px 35px 0 35px;   
}

main {
    overflow-x: hidden;
}

#section-diagrama {
    flex-direction: column-reverse;
}

#section-diagrama img{
    margin: 20px 0 220px 0;
    width: 100%;
}

#section-diagrama article {
    align-items: center;
    flex-direction: column; 
    margin-bottom: 120px;
    text-align: center;
}

h1 {
    color: var(--secondary-color-azul);
    font-size: 58px;
    letter-spacing: -0.035em;
    margin: 0 10px;
}

#section-diagrama p {
    font-size: 16.56px;
    margin: 15px 60px 20px;
}

.btn {
    background-color: var(--primary-color-violeta);
    border: none;
    border-radius: 50px;
    color: #fff;
    height: 44px;
    width: 134px;
}

#section-middle article h2 {
    color: var(--secondary-color-azul);
    font-size: 36px;
    margin: 40px;
    text-align: center;
}

#section-middle article >p {
    line-height: 151.1%;
    margin: 0 10px 105px 10px;
    text-align: center;
}

ol {
    margin: 0 0 120px 30px;
}

ol li {
    list-style-type: none;
    counter-increment: lista;
    position: relative;
}

ol li::before {
    align-items: center;
    background-color: var(--primary-color-violeta);
    border-radius: 30px;
    color: #fff;
    content: counter(lista, decimal-leading-zero) " ";
    display: flex;
    justify-content: center;
    height: 43px;
    position: absolute;
    text-align: center;
    width: 70px;
}

ol div {
    align-items: center;
    background-color: rgba(139, 72, 191, 0.3);
    color: var(--secondary-color-azul);
    height: 43px;
    margin-left: 50px;
    
    width: 100%;
}

ol div h3 {
    margin: 0 0 0 30px;
}

ol p {
    color: var(--secondary-color-gris);
    letter-spacing: -1%;
    margin: 25px 25px 20px 10px;
    text-align: left;
}

#section-cards {
    align-items: center;
    flex-direction: column;
}

#section-cards h2 {
    font-size: 39.2143px;
    letter-spacing: -0.01em;
    margin-bottom: 100px;
}

.card {
    align-items: center;
    background-color: #FAFAFA;
    position: relative;
    height: 219px;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0 44px 0;
    width: 445px;   
}

h3 {
    margin: 30px 0 15px 0;
}

.card img {
    position: absolute;
    top: -50px;
    width: 20%;
}

.card p {
    color: #B9B9C1;
    margin: 0 40px;
    text-align: center;
}

#section-purple {
    align-items: center;
    background-color: var(--primary-color-violeta);
    color: #fff;
    flex-direction: column;
    height: 318px;
    justify-content: center;
    margin-top: 80px;
    text-align: center;
    width: 100%;
}

#section-purple h2 {
    font-size: 40px;
    letter-spacing: -0.005em;
    margin: 0 70px 30px 70px;
}

#get-started-down {
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    color: var(--primary-color-violeta);
}

footer {
    align-items: center;
    background-color: var(--gris-oscuro);
    flex-direction: column;
    justify-content: space-around;
    height: 535.89px;
    width: 100%;
}

footer form {
    margin-top: 40px;
}

footer ul {
    color: #fff;
    list-style: none;
}

#nav-footer ul {
    margin: 0 80px 0 80px;
}

footer input {
    border-radius: 50px;
    height: 44px;
    width: 308px;
}

input::placeholder {
    padding-left: 10px;
}

#go {
    background-color: var(--primary-color-violeta);
    border: none;
    border-radius: 50px;
    color: #fff;
    height: 42px;
    width: 63px;
}

#logo-redes {
    align-items: center;
    flex-direction: column;
}

#redes-sociales {
    margin: 15px 0 50px 0;
}

#redes-sociales li{
    margin: 0 35px 0 35px;
} 

footer p {
    color: #8C8C94;
    font-size: 12.5px;
    margin-bottom: 30px;
}


@media (min-width: 1440px){

    header {
        margin: 55px 165px;
    }

    #nav-sup {
        display: flex;
        visibility: visible;
    }

    #nav-sup ul {
        display: flex;
        list-style: none;
    }

    #nav-sup ul li {
        color: #242E52;
        margin-left: 30px;
    }

    a:link {
        text-decoration: none;
    }

    a:visited, a:active, a:hover {
        color: rgba(36, 46, 82, 0.6);
        text-decoration: none;    
    }

    #menu-hamburguesa {
        display: none;
    }

    #get-started-header {
        align-items: center;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        visibility: visible;
    }

   #section-diagrama {
        align-items: center;
        flex-direction: row;
        justify-content: center;
   }

   h1 {
        letter-spacing: -0.035em;
        margin: 0;
   }

   #section-diagrama img {
        height: 80vh;
        max-width: 35vw;
   }

   #section-diagrama article {
        align-items: flex-start;
        height: 70vh; 
        flex-direction: column;
        margin-right: 200px;
        text-align: left;
        width: 35vw;    
   }

   #section-diagrama article p {
        margin: 30px 270px 30px 0;
   }

   #section-middle {
        display:flex;
        justify-content: center;
   }

   #section-middle article {
        width: 35vw;
   }

   #section-middle>article {
        margin-right: 20px;
   }

   #section-middle article h2 {
        margin: 0 60px 40px 0;
        text-align: left;
   }

   #section-middle article>p {
        margin: 0 300px 40px 0;
        text-align: left;
   }

   #section-middle div {
        background-color: #fff;
   }

   #section-middle article:nth-child(2){
    margin-left: 150px;
   }

   ol p {
        margin: 25px 70px 20px 80px;
   }

   .card {
        display: flex;
        visibility: visible;
        align-items: center;
        flex-direction: column;
        justify-content: center;
   }

   .btn:hover, #go:hover {
        background-color: rgba(139, 72, 191, 0.7);
   }

   #section-purple {
        flex-direction: row;
        height: 40vh;
        justify-content: space-around;
   }

   #section-purple h2 {
        text-align: left;
        width: 30%;
   }

   #get-started-down {
        margin-right: 100px;
        width: 10%;
   }

   footer {
        flex-direction: row-reverse;
        height: 45vh;
        /*Falta organizar el padding del footer o margin*/
        /*padding: 100px;*/
   }

   footer p {
        display: none;
   }

   #logo-redes {
        display: flex;
        flex-direction: column-reverse;
   }

   #redes-sociales {
        margin-top: 100px;
   }

   #redes-sociales li {
        margin: 0 10px 0 10px;
   }

   #nav-footer ul {
        margin: 0 220px 0 220px;
   }

   #nav-footer ul li {
        margin-bottom: 30px;
   }

   #form {
        position: relative;
   }

   #form form {
        margin-bottom: 200px;
   }

   #form::after {
        content: "Copyright 2020. All rights Reserved";
        color: #8C8C94;
        font-size: 12.5px;
   }

   ::after {
        position: absolute;
        top: 230px;
        right: 20px;
   }

}

